body {
    font-family: 'Segoe UI', sans-serif;
    background: #262626;
    display: flex;
}

h1, span, p {
    color: white;

}

span {
    font-size: 130%;
}

main {
    width: 100vh;
    text-align: center;
    align-items: center;
    display: inline-block;
    flex-direction: column;

}

img {
    width: 25px;
}