body {
    font-family: 'Segoe UI', sans-serif;
}


#logo img {
    padding: 10px;
    margin: 10px;
    padding-right: 40px;
    padding-left: 20px;
    width: 100px;
    /* outline: 1px solid #222c40; */
    outline-offset: 10px; 
    border-radius: 10px;
    margin-bottom: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

ul {
    list-style-type: none;
    /* margin: 10px;
    margin-block: 30px;
    width: 100px;
    /* outline: 1px solid #222c40; */
    /* padding-block: 10px;
    padding-right: 40px;
    padding-left: 20px;
    outline-offset: 10px; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
}

li {
    list-style-type: none;
    margin: 0px;
    margin-block: 0px;
    width: 100px;
    /* outline: 1px solid #222c40; */
    padding-block: 10px;
    padding-right: 40px;
    padding-left: 20px;
    outline-offset: 10px; 
    border-radius: 10px;
    margin-left: -30px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

a {
    text-decoration: none;
    color: #222c40;
}