nav {
  width: 124px;
  height: 100vh;
  border-right: 1px solid #dbdbdb;
  padding: 8px 12px;
  display: flex;
  flex-direction: column;
  position: sticky;
}

nav > .logo {
  padding: 32px 12px;
}

nav .menu {
  flex-grow: 1;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

nav ul a {
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
}

nav ul a:hover {
  background: rgba(0, 0, 0, 0.05);
  transition: 0.3s;
}

nav ul a:hover {
  scale: 1.1;
  transition: 0.2s;
}

nav ul a:active {
  opacity: 0.5;
}

nav ul a:active {
  scale: 0.95;
}
