body {
    font-family: 'Segoe UI', sans-serif ;
    background-color: green;
    
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  scale: 1.01;
  margin-top: 0px;
}


h1 {
    color: white;
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
    text-decoration: none;
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}
